@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

#mobile-menu {
  transition: transform 0.3s ease-in-out;
}

#how-it-works-submenu {
  transition: all 0.3s ease-in-out;
}