<header
              class="self-stretch flex flex-row items-center justify-center py-[30px] px-5 box-border max-w-full text-left text-base text-midnightblue font-website-body-body-large-regular mq1225:gap-[88px] mq450:gap-[22px] mq750:gap-11"
            >
              <div
                class="w-[1240px] flex flex-row items-center justify-between gap-5 max-w-full mq1050:w-[641px]"
              >
                <img
                  class="h-11 w-[135px] relative object-cover"
                  loading="lazy"
                  alt=""
                  src="/public/image-1@2x.png"
                />

                <div
                  class="w-[599px] flex flex-row items-start justify-center gap-10 max-w-full mq750:gap-5 mq1050:hidden"
                >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit]"
                    >Home</a
                  >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit]"
                    >About</a
                  >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit]"
                    >Patients</a
                  >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-bold text-[inherit] inline-block min-w-[107px]"
                    >How It Works</a
                  >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit]"
                    >FAQs</a
                  >
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit] inline-block min-w-[101px]"
                    >For Business</a
                  >
                </div>
                <div class="flex flex-row items-center justify-start gap-10">
                  <a
                    class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit] inline-block min-w-[44px]"
                    >Login</a
                  >
                  <button
                    class="cursor-pointer [border:none] py-[15px] px-[31px] bg-mediumslateblue-200 flex-1 rounded-md flex flex-row items-center justify-center hover:bg-mediumslateblue-100"
                  >
                    <a
                      class="[text-decoration:none] flex-1 relative text-base leading-[20px] font-medium font-website-body-body-large-regular text-neutral-100 text-center inline-block min-w-[59px]"
                      >Sign Up</a
                    >
                  </button>
                </div>
              </div>
            </header>